.ProseMirror {
  outline: none;
  font-family: 'Inter', sans-serif;
  font-size: 1.12rem;
  line-height: 1.6;
  color: #333;
}

.ProseMirror p {
  margin: 1rem 0;
}

.ProseMirror blockquote {
  font-size: 1.2rem;
  margin: 2.5rem 0;
  padding: 2rem 2rem 2rem 4rem;
  font-weight: 500;
  position: relative;
  background: #e5e5e5;
  border-radius: 30px;
}

.ProseMirror blockquote:before {
  content: '“';
  font-size: 6rem;
  font-weight: 700;
  font-family: 'Arial', sans-serif;
  position: absolute;
  left: 12px;
  top: -8px;
  opacity: 0.1;
}

.ProseMirror strong {
  font-weight: bolder;
}
